<div id="profile">
  <div class="user-main-info">
    <%= cl_image_tag @user.photo.key, class: "user-img", crop: :thumb, gravity: :face %>
    <p class="user-title"><u><%= @user.username%></u></p>
    <p class="user-subtitle"><%= @user.first_name %> <%= @user.last_name %></p>
  </div>

  <ul class="user-details">
    <li class="user-details-header">Gender</li>
    <li class="user-details-p"><%= @user.gender%></li>
    <li class="user-details-header">Height</li>
    <li class="user-details-p"><%= @user.height%></li>
    <li class="user-details-header">Weight</li>
    <li class="user-details-p"><%= @user.weight%></li>
    <li class="fav-drinks">  Favourite Drinks  </li>
    <li class="fav-drinks-p"> Moskow Mule  ⭐️ </li>
    <li class="fav-drinks-p"> Beer  ⭐️ </li>
    <li class="fav-drinks-p"> Tequilla  ⭐️ </li>
  </ul>


</div>
