<% @grouped_drinks.each do |drink, tab_drinks| %>
  <div class= 'card-drinks'>
    <div class= "img-drinks">
      <%= cl_image_tag drink.photo.key, crop: :fill %>
    </div>
    <div class= "drink-details-bartab">
      <p class= "drink-name"><%= drink.name %> </p>
      <p class= "alcohol-percentage"><%= drink.alcohol %> %</p>
    </div>
    <p class= "drink-count"><%= tab_drinks.count %></p>

    <%= render "add-form", drink: drink, tab_drink: @tab_drink, placeholder: "+" %>
  </div>
<% end %>
